@charset "utf-8";
.wrapbox01 {
    width:90%;
    max-width:320px;
    height:auto;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.wrapbox02 {
    width:90%;
    max-width:320px;
    height:auto;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
/******************** タイトル系 ********************/
.subtitle01 {
    float:left;
    width:100%;
    position:relative;
    text-align:center;
    font-size:22px;
    letter-spacing:0.1em;
    padding-top:80px;
    box-sizing:border-box;
    margin-bottom:40px;
}
.subtitle01 .en {
    float:left;
    width:100%;
    font-size:10px;
    letter-spacing:0.2em;
}
.subtitle01:before {
    content:"";
    width:36px;
    height:36px;
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-18px;
    border-radius:18px;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    background:transparent;
    -webkit-box-shadow:inset 0 0 0 2px #000000;
    box-shadow:inset 0 0 0 2px #000000;
    clip:rect(0px, 36px, 17px, auto);
    -webkit-clip-path:rectangle(50%, 50%, 100%, 100%, 0, 0);
}
.subtitle01:after {
    content:"";
    width:2px;
    height:50px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-1px;
    background-color:#000000;
}
/******************** ボックス系 ********************/
.box01 {
	float:left;
	width:100%;
	position:relative;
}
.chuusha {
    width:100%;
    position:relative;
}
/******************** ボタン系 ********************/
.btn01 {
    float:left;
    width:160px;
    position:relative;
    text-align:center;
    letter-spacing:0em;
    padding-bottom:10px;
    box-sizing:border-box;
}
.btn01:before {
    content:"";
    width:100%;
    height:2px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#000000;
    box-sizing:border-box;
}
.btn01:after {
    content:"";
    width:10px;
    height:2px;
    position:absolute;
    bottom:3px;
    right:-1px;
    background-color:#000000;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
/******************** リスト系 ********************/
.list01 {
    float:left;
    width:100%;
    position:relative;
}
.list01 li {
    float:left;
    width:100%;
    position:relative;
    text-align:center;
    margin-bottom:40px;
}
.list01 li:last-child {
	margin-bottom:0px;
}
/******************** 表系 ********************/
.list001 {
    float:left;
    width:100%;
    position:relative;
    padding-top:18px;
    padding-bottom:18px;
    padding-left:10px;
    padding-right:10px;
    border-bottom:1px solid #e6e6e6;
    box-sizing:border-box;
}
.list001 dt {
    float:left;
    position:relative;
    padding-left:15px;
    margin-bottom:5px;
    box-sizing:border-box;
}
.list001 dt:before {
    content:"";
    width:5px;
    height:5px;
    position:absolute;
    top:14px;
    left:0px;
    background-color:#000000;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.list001 dd {
    float:right;
    position:relative;
    text-align:right;
}
.list002 {
    float:left;
    width:100%;
    position:relative;
    margin-bottom:15px;
}
.list002 dt {
    float:left;
    width:100%;
    font-size:16px;
    letter-spacing:0.1em;
}
.list002 dd {
    float:left;
    width:100%;
}
.list002:last-child {
    margin-bottom:0px;
}
.list003 {
	float:left;
	width:100%;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #e6e6e6;
	box-sizing:border-box;
}
.list003 dt {
	float:left;
	width:100%;
}
.list003 dd {
	float:left;
	width:100%;
}
.list003:first-child {
	border-top:1px solid #e6e6e6;
}
/******************** テキスト系 ********************/
.underline {
	text-decoration:underline;
}
.green_line {
    display:inline-block;
    background-image:url("../images/b_ornament_100_1M.png");
    background-position:left bottom;
    background-repeat:repeat-x;
    background-size:21px auto;
    padding-bottom:10px;
    padding-left:3px;
    padding-right:3px;
    box-sizing:border-box;
}
.text_center {
	text-align:center;
}
.text_right {
	text-align:right;
}
.text_left {
	text-align:left;
}
.text_bold {
    font-weight:bold;
}
.text_green {
    color:#87c357;
}
.text_midashi {
    font-family:a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style:normal;
    font-weight:600;
}
.text_abel {
    font-family:'Abel', sans-serif;
    font-weight:400;
}
.fs18 {
    font-size:18px;
}
.fs13 {
    font-size:13px;
    line-height:1.4em;
}
/******************** ライン系 ********************/
.line01 {
    position:relative;
    padding-bottom:40px;
    margin-bottom:40px;
    box-sizing:border-box;
}
.line01:before {
    content:"";
    width:110%;
    height:1px;
    position:absolute;
    bottom:0px;
    left:-5%;
    background-color:#f2f2f2;
}
/******************** マージン系 ********************/
.mt40 {
    margin-top:20px;
}
.mb210 {
    margin-bottom:100px;
}
.mb130 {
    margin-bottom:80px;
}
.mb80 {
    margin-bottom:80px;
}
.mb70 {
    margin-bottom:70px;
}
.mb60 {
    margin-bottom:60px;
}
.mb50 {
    margin-bottom:50px;
}
.mb40 {
    margin-bottom:40px;
}
.mb30 {
    margin-bottom:30px;
}
.mb20 {
    margin-bottom:20px;
}
/******************** ページナビ系 ********************/
.wp-pagenavi  {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	line-height:1em;
	font-weight:normal;
	font-size:14px;
	margin-top:60px;
}
.wp-pagenavi a {
	display:inline-block;
	position:relative;
	border-top:none;
	border-bottom:2px solid #000000;
	border-left:none;
	border-right:none;
	text-decoration:none;
	font-size:16px;
	font-family: 'Abel', sans-serif;
	font-weight:400;
	letter-spacing:0.05em;
	padding-top:20px;
	padding-bottom:18px;
	box-sizing:border-box;
}
.wp-pagenavi a:hover {
	text-decoration:none;
}
.wp-pagenavi .previouspostslink {
	width:94px;
	margin-right:20px;
}
.wp-pagenavi .larger {
	width:35px;
	margin-right:20px;
	text-align:center;
}
.wp-pagenavi .smaller {
	width:54px;
	margin-right:20px;
}
.wp-pagenavi .current {
	width:35px;
	position:relative;
	font-size:16px;
	margin-right:20px;
	border-top:none;
	border-left:none;
	border-right:none;
	font-family: 'Abel', sans-serif;
	font-weight:400;
	letter-spacing:0.05em;
	border-bottom:2px solid #000000;
	display:inline-block;
	padding-top:20px;
	padding-bottom:18px;
	box-sizing:border-box;
}
.wp-pagenavi .current:before {
	content:"";
	height:10px;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-2px;
	border-left:2px solid #87c357;
	box-sizing:border-box;
}
.wp-pagenavi .backpostslink {
	width:160px;
	letter-spacing:0.1em;
}
.wp-pagenavi .nextpostslink {
	width:94px;
}
.wp-pagenavi .pages {
	display:none;
}
.wp-pagenavi .extend {
	display:none;
}
.wp-pagenavi .first {
	display:none;
}
.wp-pagenavi .last {
	display:none;
}
.pagenavi {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	margin-top:80px;
}
.pagenavi a:hover {
	text-decoration:none;
}
.pagenavi a {
	display:inline-block;
	border-bottom:2px solid #000000;
	text-decoration:none!important;
	font-size:16px;
	font-family: 'Abel', sans-serif;
	font-weight:400;
	letter-spacing:0.1em;
	padding-bottom:10px;
	box-sizing:border-box;
}
.pagenavi .previouspostslink a {
	width: 78px;
	position:absolute;
	bottom:0px;
	left:0px;
}
.pagenavi .nextpostslink a {
	width: 78px;
	position:absolute;
	bottom:0px;
	right:0px;
}
.backpostslink a {
	width:100px;
}
/* clearfix */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	color:#CC9900;
}
.clearfix {
	display:inline-table;
	min-height:1%;
	margin-bottom:0px;
	overflow:auto;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
	overflow:hidden;
}
/* clearfix */