@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th, 
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}



hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

table{
    width: 60%;
    border-collapse: collapse;
  }
  
  table tr{
    border-bottom: solid 2px white;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #a8ffa8;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table td{
    background-color: white;
    border: #a8ffa8 0.2rem solid;
    width: 30%;
  }

  .aboutImg{
    font-size: 5rem;
    position: absolute;
    right: 57.5%;
    font-family: system-ui;
    top: 77%;
    color: white;
    font-weight: lighter;
  }

  
  .intro h1{
    text-align: center;
    font-size: 30px;
    padding: 1rem 2rem;
    color: #fff;
    background: #015dac;
    background-image: radial-gradient(#0175d5 13%, transparent 13%), radial-gradient(#0175d5 13%, transparent 13%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
  }

  .desc1 p{
    background-color: #FFFAFA;
    padding:10px 0px 10px 400px;
    border: 1px solid;
    border-top: transparent;
  }

  .intro2 {
      margin-top: 50px;
  }

  .intro2 table {
    margin:50px 0px 200px 300px;  
 }
 .intro2 th {
    background-color:#4169E1;  
 }
 .intro2 td{
    background-color: #FFFAFA;
    border:#4169E1 0.3rem solid;
    width: 30%;
  }